.projects {
    width: 100vw;
    height: 100%;
    position: relative;
    z-index: 10;
}
.projects > h1 {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 3em;
    padding: 1em 0;
}

.projects-wrapper {
    width: 100%;
    height: 100%;
    flex-direction: column;
}


.tabs-wrapper{ 
    width: 100vw;
    min-height: 800px;
    position: relative;
    overflow-y: scroll;
}

.tabs {
    position:absolute;
    top:30%;
    left:50%;
    transform:translate(-50%,-45%);
    width:60%;
    height: 400px;
}

.tabs .tab-header {
    display:flex;
}

.tabs .tab-header > div {
    position:relative;
    width:25%;
    text-align:center;
    padding:10px 0;
    z-index:2;
    font-weight:600;
    color: #000;
    cursor:pointer;
    transition: all 300ms ease-in-out;
}
.tabs .tab-header > div.active {
    color: #fff;
}
.tabs .tab-indicator {
    position:absolute;
    width: 25%;
    height: 44px;
    background:var(--color1);
    top:0px;
    left:0px;
    border-radius: 5px;
    transition:all 300ms ease-in-out;
}
.tabs .tab-body {
    position:relative;
    background:#fff;
    height: 130%;
    overflow:hidden;
    background-color: transparent;    
}
.tabs .tab-body > div {
    width: 100%;
    position: absolute;
    opacity: 0;
    top: -100%;
    background-color: transparent;
    transform: translateY(-10px);
    transition: opacity 300ms ease-in-out,
              transform 300ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.tabs .tab-body > div.active {
    transform:translateY(0px);
    top: 10%;
    opacity:1;
}

.tabs .body--right h1 {
    font-weight: 500;
    font-size: 1.2em;
    margin: 20px 0 0px 0;
    background-color: red;
}

.body--right h1:nth-child(1) {
    padding: 1rem 0;
    background-color: var(--color1);
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


.tabs .body--right p {
    color: #333;
    font-size: 15px;
    margin-bottom: 0.5rem;
}

.tabs .body--right p > span {
    color: var(--color2);
    text-transform: uppercase;
    font-weight: 600;
}

.tabs .tab-body > div > .body--left {
    width: 50%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body--left img {
    width: 100%;
    /* height: 100%; */
    min-height: 300px !important;
    object-fit: cover;
}

.body--left > h1  {
    background-color: var(--color2);
    padding: 10px 0;
    width: 100%;
    color: #fff;
}

.body--right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.body--right--wrapper {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}




.mobile-projects {
    display: none;
    width: 100vw;
    position: relative;
    text-align: center;
}

.project-m {
    margin-bottom: 2em;
}

.project-m > h1 {
    width: 100vw;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--color2);
    padding: 1em 0;
}

.details--wrapper-m {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details-m {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.details--section-m {
    width: 100vw;
    height: 100%;
    text-align: left;
    background-color: #fff;
    color: #fff;
    padding: 2em 2em;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.details-m  h1 {
    font-size: 1.2em;
    color: var(--color1);
    margin-bottom: 1rem;
    font-weight: 500;

}


.details-m  p {
    color: #333;
    margin: 0.5rem 0;
}

.details-m  p > span {
    margin-right: 3px;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1em;

}


.details-m  > img {
    width: 100%;
    object-fit: cover;
}

.btn{
    width: 150px;
    border: 2px solid var(--color1);
    background-color: transparent;
    color: var(--color1);
    padding: 1em 0;
    margin-top: 2em;
    transition: background-color 0.2s ease-in,
                color 0.2s ease-in;
}

.btn:hover {
    background-color: var(--color1);
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}


.svg--wave {
    width: 100vw;
    position: absolute;
    bottom: -1%;
    left: 0;
    display: block;
    margin: 0;
    padding: 0;
    z-index: -2;
}




/* -------- MEDIA QUERIES --------- */


@media (max-width: 1200px) {
    .tabs {
        width: 80%;
    }
    .tab-body {
        width: 100%;
        margin-top: 0 !important;
    }
    .body--left > h1 {
        font-size: 1.5em;
    }
}

@media (max-width: 1325px) {
    .tabs {
        width: 85%;
    }
} 


@media (max-width: 769px) {
    .tabs-wrapper {
        display: none;
    }

    .mobile-projects {
        display: block;
    }
    
    .svg--wave {
        bottom: -1.7%;
    }

    .project-m:last-child {
        padding-bottom: 5em;
    }
} 

@media ( max-width: 480px ) {
    .project-m > h1 {
        font-size: 1.5em;
    }
    .projects > h1 {
        font-size: 2em;
    }
}